/* || Heading Section */
.heading-container {
  position: relative;
  background: linear-gradient(rgba(15, 76, 117, 0.75), rgba(15, 76, 117, 0.75)), url(../images/pressure1.jpeg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: 0 -10rem;
  height: 25rem;
  width: 80vw;
  padding: 0 10vw;
  text-align: center;
  overflow: hidden;
}

.heading1 {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 50%;
  transform: translate(-0%, -50%);
  font-size: 5rem;
  line-height: 5rem;
  text-shadow: 3px 3px #1B262C;
}

.heading-container {
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 75px), 50% 100%, 0 calc(100% - 75px));
}

.top-con {
  clip-path: polygon(0 0, 50% 75px, 100% 0, 100% 100%, 0 100%);
  margin-top: -75px;
}

.top-con .service1-grid {
  padding-top: 15rem;
}

.service1-container,
.service2-container {
  position: relative;
  background-color: white;
  width: 80vw;
  padding: 0 10vw;
  text-align: left;
}

.service1-container h1,
.service2-container h1 {
  color: #1B262C;
  margin-top: 0;
  margin-bottom: 2rem;
  letter-spacing: 1px;
  text-shadow: 2px 2px #86A8CA;
  font-size: clamp(43px, 3vw, 55px);
}

.service1-container h1:hover,
.service2-container h1:hover {
  transition: 0.3s;
  color: #30C5FF;
  cursor: pointer;
  text-shadow: 2px 2px #1B262C;
}

.service1-container p,
.service2-container p {
  font-size: 0.9rem;
  letter-spacing: 1px;
  margin-bottom: 2rem;
}

.service1-grid,
.service2-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  max-width: 85rem;
  margin: 0 auto;
  color: #1B262C;
  padding: 10rem 0;
  grid-gap: 4rem;
}

.img-box {
  position: relative;
}

.new-collage1,
.new-collage2 {
  width: 90%;
  border-radius: 10px;
  opacity: 0.65;
  position: absolute;
  top: 50%;
  left: 55%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.service1-box,
.service2-box {
  place-self: center;
}

.service2-container {
  text-align: right;
  background-color: #F6F7FA;
}

.new-collage2 {
  left: 45%;
}

/* || Service Para Section */
.service-container-para,
.service-container-para-2 {
  position: relative;
  background-color: white;
  width: 100vw;
  text-align: left;
  color: #1B262C;
  height: 30vw;
  max-height: 700px;
  min-height: 600px;
  background: linear-gradient(rgba(15, 76, 117, 0.75), rgba(15, 76, 117, 0.75)), url(../images/pressure2.jpeg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  z-index: -1;
}

.service-container-para h1,
.service-container-para-2 h1 {
  color: #1B262C;
  margin-top: 0;
  margin-bottom: 2rem;
  letter-spacing: 1px;
  text-shadow: 2px 2px #86A8CA;
  font-size: clamp(43px, 3vw, 55px);
}

.service-container-para h1:hover,
.service-container-para-2 h1:hover {
  transition: 0.3s;
  color: #30C5FF;
  cursor: pointer;
  text-shadow: 2px 2px #1B262C;
}

.service-container-para p,
.service-container-para-2 p {
  font-size: 0.9rem;
  letter-spacing: 1px;
  margin-bottom: 2rem;
}

.para-box,
.para-box-2 {
  position: relative;
  padding: 1px 0;
  margin-top: -1px;
  padding-left: 10rem;
  width: calc(50% - 2rem);
  float: right;
  height: -webkit-fill-available;
  background-color: white;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 10% 50%);
}

.service-para-box,
.service-para-box-2 {
  width: 66.10%;
  max-width: 625px;
  position: absolute;
  left: 10rem;
  margin: 0 auto;
  top: 50%;
  transform: translate(-0%, -50%);
}

.para-box-2 {
  float: left;
  clip-path: polygon(0% 0%, 100% 0, 90% 50%, 100% 100%, 0% 100%);
  background-color: #F6F7FA;
}

.service-para-box-2 {
  text-align: right;
  left: inherit;
  right: 10rem;
}

@media only screen and (max-width : 1024px) {

  /* || Heading Section */
  .heading-container {
    height: 20rem;
    width: 100vw;
    padding: 0;
    text-align: center;
    overflow: hidden;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
  }

  .heading1 {
    font-size: 6vw;
    line-height: 2rem;
  }

  .media-break {
    display: block;
  }

  .heading-container {
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 35px), 50% 100%, 0 calc(100% - 35px));
  }

  .top-con {
    clip-path: polygon(0 0, 50% 35px, 100% 0, 100% 100%, 0 100%);
    margin-top: -35px;
  }

  .top-con .service1-grid {
    padding-top: 2.5rem;
  }

  /* || Services Section */
  .service1-container,
  .service2-container {
    position: relative;
    background-color: white;
    width: 100vw;
    padding: 2.5rem 0;
    text-align: left;
  }

  .service1-container h1,
  .service2-container h1,
  .service-container-para h1,
  .service-container-para-2 h1 {
    color: #1B262C;
    margin-top: 0;
    margin-bottom: 1rem;
    letter-spacing: 1px;
    text-shadow: 2px 2px #86A8CA;
    font-size: 200%;
  }

  .service1-container p,
  .service2-container p,
  .service-container-para p,
  .service-container-para-2 p {
    letter-spacing: 0;
    margin-bottom: 1rem;
    font-size: 0.9rem
  }

  .service1-grid,
  .service2-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    width: 95%;
    margin: 0 auto;
    color: #1B262C;
    padding: 2rem 0;
    grid-gap: 2rem;
  }

  .service2-container {
    background-color: #F6F7FA;
    text-align: right;
  }

  /* || Service Para Section */
  .service-container-para,
  .service-container-para-2 {
    position: relative;
    background-color: white;
    width: 100vw;
    text-align: center;
    color: #1B262C;
    height: 40rem;
    background: linear-gradient(rgba(15, 76, 117, 0.75), rgba(15, 76, 117, 0.75)), url(../images/pressure2.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    z-index: -1;
  }

  .para-box,
  .para-box-2 {
    position: relative;
    padding: 1px 0;
    margin-top: -1px;
    padding-left: 0;
    width: 100%;
    float: none;
    height: 55%;
    background-color: white;
    clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 50% 100%, 0% 90%);
  }

  .service-para-box,
  .service-para-box-2 {
    width: 95%;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 50%;
    transform: translate(-0%, -50%);
  }

  .para-box-2 {
    background-color: #F6F7FA;
  }
}

@media only screen and (max-width : 600px) {

  /* || Services Section */
  .service1-container,
  .service2-container {
    text-align: center;
  }

  .service1-container h1,
  .service2-container h1 {
    font-size: 6vw;
  }

  .service1-grid,
  .service2-grid {
    padding: 0;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .new-collage1,
  .new-collage2 {
    position: relative;
    top: inherit;
    left: inherit;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }

  .service1-box,
  .service2-box {
    grid-row-start: 1;
    place-self: center;
    text-align: center;
  }
}
