/* || Heading Section */
.heading-container {
  position: relative;
  background: linear-gradient(rgba(15, 76, 117, 0.75), rgba(15, 76, 117, 0.75)), url(../images/pressure1.jpeg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: 0 -10rem;
  height: 25rem;
  width: 80vw;
  padding: 0 10vw;
  text-align: center;
  overflow: hidden;
}

.heading1 {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 50%;
  transform: translate(-0%, -50%);
  font-size: 5rem;
  line-height: 5rem;
  text-shadow: 3px 3px #1B262C;
}

.heading-container,
.service2-container {
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 75px), 50% 100%, 0 calc(100% - 75px));
}

.service1-container,
.service3-container {
  clip-path: polygon(0 0, 50% 75px, 100% 0, 100% 100%, 0 100%);
  margin-top: -75px;
}

/* || Services Section */
.service1-container,
.service2-container,
.service3-container {
  position: relative;
  background-color: white;
  width: 80vw;
  padding: 0 10vw;
  text-align: left;
}

.service1-container h1,
.service2-container h1,
.service3-container h1 {
  color: #1B262C;
  margin-top: 0;
  margin-bottom: 2rem;
  letter-spacing: 1px;
  text-shadow: 2px 2px #86A8CA;
  font-size: clamp(40px, 3vw, 50px);
}

.service1-container h1:hover,
.service2-container h1:hover,
.service3-container h1:hover {
  color: #30C5FF;
  cursor: pointer;
  text-shadow: 2px 2px #1B262C;
  transition: 0.25s;
}

.service1-container p,
.service2-container p,
.service3-container p {
  font-size: 0.9rem;
  letter-spacing: 1px;
  margin-bottom: 2rem;
}

.service1-grid,
.service2-grid,
.service3-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  max-width: 85rem;
  margin: 0 auto;
  color: #1B262C;
  padding: 15rem 0 10rem 0;
  grid-gap: 4rem;
}

.img-box {
  position: relative;
}

.new-collage1,
.new-collage2,
.new-collage3 {
  width: 90%;
  border-radius: 10px;
  opacity: 0.65;
  position: absolute;
  top: 50%;
  left: 55%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.service1-box,
.service2-box,
.service3-box {
  place-self: center;
}

.service2-container {
  position: relative;
  background-color: #F6F7FA;
  width: 80vw;
  padding: 0 10vw;
  text-align: right;
}

.service2-grid {
  padding: 10rem 0 15rem 0;
}

.new-collage2 {
  left: 45%;
}

@media only screen and (max-width : 1440px) {
  .service1-container h1,
  .service2-container h1,
  .service3-container h1 {
    color: #1B262C;
    margin-top: 0;
    margin-bottom: 1rem;
    letter-spacing: 1px;
    text-shadow: 2px 2px #86A8CA;
    font-size: clamp(30px, 3vw, 50px);
  }
}

@media only screen and (max-width : 1024px) {

  /* || Heading Section */
  .heading-container {
    height: 20rem;
    width: 100vw;
    padding: 0;
    text-align: center;
    overflow: hidden;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
  }

  .heading1 {
    font-size: 6vw;
    line-height: 2rem;
  }

  .media-break {
    display: block;
  }

  .heading-container,
  .service2-container {
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 35px), 50% 100%, 0 calc(100% - 35px));
  }

  .service1-container,
  .service3-container {
    clip-path: polygon(0 0, 50% 35px, 100% 0, 100% 100%, 0 100%);
    margin-top: -35px;
  }

  /* || Services Section */
  .service1-container,
  .service2-container,
  .service3-container {
    position: relative;
    background-color: white;
    width: 100vw;
    padding: 5rem 0 2.5rem 0;
    text-align: left;
  }

  .service1-container h1,
  .service2-container h1,
  .service3-container h1 {
    color: #1B262C;
    margin-top: 0;
    margin-bottom: 1rem;
    letter-spacing: 1px;
    text-shadow: 2px 2px #86A8CA;
    font-size: 200%;
  }

  .service1-container p,
  .service2-container p,
  .service3-container p {
    letter-spacing: 0;
    margin-bottom: 1rem;
    font-size: 0.9rem
  }

  .service1-grid,
  .service2-grid,
  .service3-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    width: 95%;
    margin: 0 auto;
    color: #1B262C;
    padding: 2rem 0;
    grid-gap: 2rem;
  }

  .service2-container {
    position: relative;
    background-color: #F6F7FA;
    width: 100vw;
    padding: 2.5rem 0 5rem 0;
    text-align: right;
  }
}

@media only screen and (max-width : 600px) {

  /* || Services Section */
  .service1-container,
  .service2-container,
  .service3-container {
    text-align: center;
  }

  .service1-container h1,
  .service2-container h1,
  .service3-container h1 {
    font-size: 6vw;
  }

  .service1-grid,
  .service2-grid,
  .service3-grid {
    padding: 0;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .new-collage1,
  .new-collage2,
  .new-collage3 {
    position: relative;
    top: inherit;
    left: inherit;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }

  .service1-box,
  .service2-box,
  .service3-box {
    grid-row-start: 1;
    place-self: center;
    text-align: center;
  }
}
