/* || Heading Section */
.heading-container {
  position: relative;
  background: linear-gradient(rgba(15, 76, 117, 0.75), rgba(15, 76, 117, 0.75)), url(../images/pressure1.jpeg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 37.5rem;
  width: 100vw;
  text-align: left;
  overflow: hidden;
}

.heading-text {
  width: 65vw;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.heading1 {
  font-size: 4.5vw;
  line-height: 4.5vw;
  text-shadow: 3px 3px #1B262C;
}

.heading-container p {
  text-shadow: 1px 1px #1B262C;
  margin-bottom: 2.5rem;
}

.book-btn {
  background-color: #30C5FF;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  letter-spacing: 1px;
  text-shadow: 1px 1px #1b262c;
  box-shadow: 1px 1px 5px #1b262c;
  clip-path: polygon(9.6% 0, 100% 0%, 90.4% 100%, 0% 100%);
  margin: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  width: 60%;
  max-width: 15.5rem;
  display: inline-block;
  padding: 0.5rem 0;
  text-align: center;
}

.book-btn:hover {
  transition: 0.3s;
  background-color: white;
}

.media-break2 {
  display: none;
}

.call-btn {
  background-color: #30C5FF;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  letter-spacing: 1px;
  text-shadow: 1px 1px #1b262c;
  box-shadow: 1px 1px 5px #1b262c;
  clip-path: polygon(9.6% 0, 100% 0%, 90.4% 100%, 0% 100%);
  margin: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  width: 60%;
  max-width: 15.5rem;
  display: inline-block;
  padding: 0.5rem 0;
  text-align: center;
}

.call-btn:hover {
  transition: 0.3s;
  background-color: white;
}

.heading-container {
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 75px), 50% 100%, 0 calc(100% - 75px));
}

.about-container {
  clip-path: polygon(0 0, 50% 75px, 100% 0, 100% 100%, 0 100%);
  margin-top: -75px;
}

/* || About Section */
.about-container {
  position: relative;
  background-color: white;
  width: 80vw;
  padding: 0 10vw;
  text-align: left;
}

.about-container h1 {
  color: #1B262C;
  margin-top: 0;
  margin-bottom: 2rem;
  letter-spacing: 1px;
  text-shadow: 2px 2px #86A8CA;
  font-size: 3vw;
}

.about-container p {
  font-size: 0.9rem;
  letter-spacing: 1px;
  margin-bottom: 2rem;
}

.about-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 85%;
  max-width: 85rem;
  margin: 0 auto;
  color: #1B262C;
  padding: 10rem 0 7.5rem 0;
  grid-gap: 4rem;
}

.img-box {
  position: relative;
}

.new-collage {
  width: 90%;
  border-radius: 10px;
  opacity: 0.65;
  position: absolute;
  top: 50%;
  left: 55%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.about-box {
  place-self: center;
}

/* || Service Section */
.service-container {
  background: #F6F7FA;
  padding: 4rem 0 0 0;
}

.service-container h1 {
  color: #1B262C;
  padding-top: 2rem;
  margin-bottom: 2rem;
  letter-spacing: 1px;
  text-shadow: 2px 2px #86A8CA;
  font-size: 3vw;
}

.service-container p {
  color: #1B262C;
  padding: 0 5%;
}

.service-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 85vw;
  max-width: 65rem;
  margin: 0 auto;
  text-align: center;
  margin-top: 2rem;
  padding-bottom: 8rem;
}

.service-icon {
  width: 35%;
}

.service-icon:hover {
  transition: 0.3s;
  transform: scale(1.1);
  cursor: pointer;
}

.service-title {
  letter-spacing: 0;
  color: #1B262C;
  margin-top: 1rem;
  font-size: 1.15rem;
  font-weight: 700;
  text-shadow: 1px 1px #86A8CA;
}

.service-container {
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 75px), 50% 100%, 0 calc(100% - 75px));
}

.deliver-container {
  clip-path: polygon(0 0, 50% 75px, 100% 0, 100% 100%, 0 100%);
  margin-top: -75px;
}

.deliver-container {
  background: linear-gradient(rgba(15, 76, 117, 0.9), rgba(15, 76, 117, 0.9)), url(../images/pressure4.1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10rem 0 15rem 0;
  position: relative;
  overflow: hidden;
}

.deliver-container h1 {
  color: white;
  padding-top: 2rem;
  margin-bottom: 5rem;
  letter-spacing: 1px;
  text-shadow: 2px 2px #1B262C;
  font-size: 3vw;
}

.deliver-container p {
  letter-spacing: 1px;
}

.deliver-btn {
  background-color: #30C5FF;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  letter-spacing: 1px;
  text-shadow: 1px 1px #1b262c;
  box-shadow: 1px 1px 5px #1b262c;
  clip-path: polygon(9.6% 0, 100% 0%, 90.4% 100%, 0% 100%);
  margin: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  width: 60%;
  max-width: 15.5rem;
  display: inline-block;
  padding: 0.5rem 0;
  text-align: center;
}

.deliver-btn:hover {
  transition: 0.3s;
  background-color: white;
}

/* || Footer Section */
.contact-container {
  background-color: #1B262C;
  height: 32.5rem;
  position: relative;
}

/* || Testimonial Section */
[type=radio] {
  display: none;
}

#slider {
  width: 100vw;
  height: 15vw;
  position: absolute;
  top: -9rem;
  perspective: 800px;
  transform-style: preserve-3d;
}

#slider label {
  margin: auto;
  width: 75%;
  max-width: 55rem;
  height: 20%;
  border-radius: 4px;
  position: absolute;
  left: 0;
  right: 0;
  cursor: pointer;
  transition: transform 1s ease;
}

#s1:checked~#slide4, #s2:checked~#slide5,
#s3:checked~#slide1, #s4:checked~#slide2,
#s5:checked~#slide3 {
  transform: translate3d(-34%, 0, -20rem);
}

#s1:checked~#slide5, #s2:checked~#slide1,
#s3:checked~#slide2, #s4:checked~#slide3,
#s5:checked~#slide4 {
  transform: translate3d(-17%, 0, -10rem);
}

#s1:checked~#slide1, #s2:checked~#slide2,
#s3:checked~#slide3, #s4:checked~#slide4,
#s5:checked~#slide5 {
  transform: translate3d(0, 0, 0);
}

#s1:checked~#slide2, #s2:checked~#slide3,
#s3:checked~#slide4, #s4:checked~#slide5,
#s5:checked~#slide1 {
  transform: translate3d(17%, 0, -10rem);
}

#s1:checked~#slide3, #s2:checked~#slide4,
#s3:checked~#slide5, #s4:checked~#slide1,
#s5:checked~#slide2 {
  transform: translate3d(34%, 0, -20rem);
}

.why-box {
  background-color: white;
  position: relative;
  padding: 2vw 1vw;
  color: #1B262C;
  height: 15rem;
  border-radius: 5px;
  box-shadow:
    0px 0px 0.4px -15px rgba(0, 0, 0, 0.069),
    0px 0px 3px -15px rgba(0, 0, 0, 0.028),
    0px 0px 8.7px -15px rgba(0, 0, 0, 0.101),
    0px 0px 20.2px -15px rgba(0, 0, 0, 0.211),
    0px 0px 57px -15px rgba(0, 0, 0, 0.33);
}

.why-box:hover {
  transition: 0.3s;
  transform: scale(1.01);
}

.why-box h3 {
  color: #1B262C;
  font-weight: 700;
  font-size: 1.25vw;
  line-height: 4rem;
  text-align: left;
  margin-bottom: 1rem;
}

.why-box p {
  color: #1B262C;
  letter-spacing: 0.08rem;
  text-align: left;
  padding: 0 2rem;
  font-size: 0.9rem;
}

.why-img {
  width: 5%;
  padding: 0.74rem 2rem;
  float: left;
}

@media only screen and (max-width : 1440px) {
  .about-grid {
    padding: 10rem 0 5rem 0;
  }
}

@media only screen and (max-width : 1024px) {

  /* || Heading Section */
  .heading-container {
    height: 30rem;
    width: 100vw;
    text-align: center;
    overflow: hidden;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
  }

  .heading-text {
    width: 95vw;
  }

  .heading1 {
    font-size: 250%;
    line-height: 2rem;
  }

  .heading-container p {
    font-size: 0.9rem;
    padding: 0 5%;
    margin-bottom: 1rem;
  }

  .book-btn {
    clip-path: none;
    border-radius: 3px;
    width: 60%;
    max-width: 15.5rem;
    display: inline-block;
    padding: 0.5rem 0;
    margin-right: 0.5rem;
  }

  .media-break2 {
    display: none;
  }

  .media-break {
    display: block;
  }

  .call-btn {
    clip-path: none;
    border-radius: 3px;
    width: 60%;
    max-width: 15.5rem;
    display: inline-block;
    padding: 0.5rem 0;
    margin-top: 1rem;
    margin-left: 0.5rem;
  }

  .heading-container {
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 35px), 50% 100%, 0 calc(100% - 35px));
  }

  .about-container {
    clip-path: polygon(0 0, 50% 35px, 100% 0, 100% 100%, 0 100%);
    margin-top: -35px;
  }

  /* || About Section */
  .about-container {
    position: relative;
    background-color: white;
    width: 100vw;
    padding: 5rem 0 2.5rem 0;
    text-align: center;
  }

  .about-container h1 {
    color: #1B262C;
    margin-top: 0;
    margin-bottom: 1rem;
    letter-spacing: 1px;
    text-shadow: 2px 2px #86A8CA;
    font-size: 200%;
  }

  .about-container p {
    letter-spacing: 0;
    margin-bottom: 1rem;
    font-size: 0.9rem
  }

  .about-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 40vw;
    width: 75%;
    margin: 0 auto;
    color: #1B262C;
    padding: 0;
    grid-gap: 1rem;
  }

  .new-collage {
    width: 60%;
    min-width: 20rem;
    border-radius: 10px;
    opacity: 0.65;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .about-box {
    grid-row-start: 1;
  }

  /* || Service Section */
  .service-container {
    padding: 2rem 0 0 0;
  }

  .service-container h1 {
    padding-top: 1rem;
    margin-bottom: 2rem;
    font-size: 200%;
  }

  .service-container p {
    font-size: 0.9rem
  }

  .service-grid {
    width: 100vw;
    max-width: 50rem;
    margin: 0 auto;
    text-align: center;
    margin-top: 2rem;
    padding-bottom: 5rem;
  }

  .service-grid h2 {
    margin: 0;
  }

  .service-icon {
    width: 50%;
  }

  .service-title {
    font-size: 100%;
  }

  .service-container {
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 35px), 50% 100%, 0 calc(100% - 35px));
  }

  .deliver-container {
    clip-path: polygon(0 0, 50% 35px, 100% 0, 100% 100%, 0 100%);
    margin-top: -35px;
  }

  .deliver-container {
    padding: 5rem 0;
  }

  .deliver-container h1 {
    font-size: 200%;
    margin-bottom: 2rem;
  }

  .desktop-break {
    display: none;
  }

  .deliver-btn {
    border-radius: 3px;
    clip-path: none;
    width: 60%;
    max-width: 15.5rem;
    display: inline-block;
    padding: 0.5rem 0;
  }
}

@media only screen and (max-width : 600px) {

  /* || Heading Section */
  .book-btn {
    padding: 0.5rem 0;
    margin-right: 0;
  }

  .media-break,
  .media-break2 {
    display: block;
  }

  .call-btn {
    margin-top: 1rem;
    margin-left: 0;
  }

  /* || About Section */
  .about-container h1 {
    font-size: 6vw;
  }

  .about-grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .new-collage {
    width: 70vw;
    min-width: 17.5rem;
    position: relative;
    top: inherit;
    left: inherit;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }

  .about-box {
    grid-row-start: 1;
    place-self: center;
    text-align: center;
  }

  /* || Service Section */
  .service-container h1 {
    font-size: 6vw;
  }

  .service-title {
    font-size: 100%;
  }

  .deliver-container h1 {
    font-size: 5vw;
  }
}
