body {
  text-align: center;
  font-family: 'Saira', sans-serif;
  background-color: white;
  color: white;
  margin: 0;
  position: relative;
  overflow-x: hidden;
}

h1 {
  color: white;
  margin: 0;
  font-size: 3rem;
  font-weight: 900;
}

h2 {
  letter-spacing: 0.75rem;
  color: white;
  margin: 0;
  font-size: 1.5rem;
  font-weight: 400;
}

h3 {
  letter-spacing: 0.2rem;
  color: white;
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
}

a, a:visited, a:active {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #30C5FF;
  cursor: pointer;
}

footer {
  font-size: 10px;
  position: absolute;
  bottom: 5px;
  left: 0;
  right: 0;
  letter-spacing: 1px;
}

.media-break {
  display: none;
}

/* || Navbar Section */
.nav-container {
  position: relative;
  background-color: white;
}

/* || Top Nav Section */
.top-nav {
  background-color: #F6F7FA;
  width: 72.5%;
  line-height: 3rem;
  text-align: right;
}

.top-nav:after {
  content: "";
  position: absolute;
  margin: -20px;
  width: 50px;
  height: 6rem;
  top: 0;
  right: 26.5%;
  transform: rotate(30deg);
  background-color: white;
}

.quote {
  float: right;
  margin: 0 1.05rem;
}

.quote-btn {
  background-color: #023859;
  color: white;
  border-radius: 3px 0 0 3px;
  padding: 0.36rem 3rem;
  text-shadow: 1px 1px #1B262C;
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: 1px;
  clip-path: polygon(0 0, 100% 0%, 91.7% 100%, 0% 100%);
}

.quote-btn:hover {
  background-color: #30C5FF;
  color: white;
  font-weight: 600;
}

.social {
  margin-right: 2.5rem;
  padding-top: 1px;
}

.fa-brands {
  padding: 0 0.3rem;
  color: #023859;
}

.fa-brands:hover {
  cursor: pointer;
  color: #30C5FF;
}

.email {
  position: absolute;
  color: #023859;
  right: 0;
  top: 0;
  line-height: 3rem;
  margin-right: 4.3%;
  z-index: 1;
}

.email p {
  margin: 0;
  float: right;
  letter-spacing: 1px;
  font-weight: 600;
}

.nav-solid {
  padding: 1rem !important;
  float: left !important;
}

/* || Middle Nav Section */
.mid-nav {
  background-color: white;
  line-height: 4rem;
  z-index: 1;
  position: relative;
  color: #023859;
}

.mid-nav h1 {
  color: #023859;
  width: 50vw;
  float: left;
  font-weight: 900;
  font-size: 3rem;
  margin-left: 25vw;
  letter-spacing: 2px;
  text-shadow: 1.5px 1.5px #86A8CA;
  background-color: white;
}

.nav-logo {
  height: 10rem;
  position: absolute;
  left: 20.7%;
  top: -2.9rem;
}

.image-logo {
  height: 95%;
}

.call-us {
  position: absolute;
  width: 17.4rem;
  color: #023859;
  right: 0;
  top: 0;
  line-height: 4rem;
  margin-right: 4.3%;
  z-index: 1;
}

.call-us p {
  margin: 0;
  letter-spacing: 1px;
  font-size: 2rem;
  font-weight: 600;
}

.nav-phone {
  padding: 1.5rem 1rem !important;
}

/* || Bottom Nav Section */
.bottom-nav {
  float: right;
  width: 72.5%;
  background-color: #023859;
  line-height: 3rem;
  text-align: left;
  overflow: hidden;
}

.bottom-nav:after {
  content: "";
  position: absolute;
  width: 38px;
  height: 3.8906rem;
  top: 6.079rem;
  right: 71.56%;
  transform: rotate(30deg);
  background-color: white;
}

.nav-options {
  text-align: center;
}

.nav-links {
  margin: 0 7.5%;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  letter-spacing: 2px;
  text-shadow: 1px 1px #1B262C;
}

/* || DROPDOWN HELP */
.nav-dropdown {
  width: auto;
  display: inline-block;
  margin: 0 7.5%;
  line-height: normal;
}

.dropdown .dropbtn {
  font-family: 'Saira', sans-serif;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  letter-spacing: 2px;
  text-shadow: 1px 1px #1B262C;
  border: none;
  outline: none;
  background-color: inherit;
  margin: 0;
}

.dropbtn:hover {
  cursor: pointer;
  color: #30C5FF;
}

.dropdown-content {
  text-align: center;
  display: none;
  position: absolute;
  right: 0;
  top: 10.07rem;
  width: 66.25%;
  background-color: #30C5FF;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding-left: 6.236vw;
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 2.23% 100%);
}

.dropdown-content a {
  font-family: 'Saira', sans-serif;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  letter-spacing: 2px;
  line-height: 3rem;
  text-shadow: 1px 1px #1B262C;
  text-decoration: none;
  display: block;
  text-align: center;
  width: 20vw;
}

.dropdown-content a:hover {
  color: #023859;
  font-weight: 800;
  text-shadow: none;
}

.show {
  display: flex;
}

/* || Heading Section */
.heading-container {
  position: relative;
  background: linear-gradient(rgba(15, 76, 117, 0.75), rgba(15, 76, 117, 0.75)), url(../images/pressure1.jpeg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 37.5rem;
  width: 100vw;
  text-align: left;
  overflow: hidden;
}

.heading-text {
  width: 65vw;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.heading1 {
  font-size: 4.5rem;
  line-height: 4.5rem;
  text-shadow: 3px 3px #1B262C;
}

.heading-container p {
  text-shadow: 1px 1px #1B262C;
  margin-bottom: 2.5rem;
}

.book-btn {
  background-color: #30C5FF;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  letter-spacing: 1px;
  padding: 0.5rem 2rem;
  text-shadow: 1px 1px #1b262c;
  box-shadow: 1px 1px 5px #1b262c;
  clip-path: polygon(9.6% 0, 100% 0%, 90.4% 100%, 0% 100%);
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.book-btn:hover {
  background-color: white;
}

.call-btn {
  background-color: #30C5FF;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  letter-spacing: 1px;
  padding: 0.5rem 2.3535rem;
  text-shadow: 1px 1px #1b262c;
  box-shadow: 1px 1px 5px #1b262c;
  clip-path: polygon(9.2% 0, 100% 0%, 90.8% 100%, 0% 100%);
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.call-btn:hover {
  background-color: white;
}

.heading-container {
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 75px), 50% 100%, 0 calc(100% - 75px));
}

.about-container {
  clip-path: polygon(0 0, 50% 75px, 100% 0, 100% 100%, 0 100%);
  margin-top: -75px;
}

/* || About Section */
.about-container {
  position: relative;
  background-color: white;
  width: 80vw;
  padding: 0 10vw;
  text-align: left;
}

.about-container h1 {
  color: #1B262C;
  margin-top: 0;
  margin-bottom: 2rem;
  letter-spacing: 1px;
  text-shadow: 2px 2px #86A8CA;
}

.about-container p {
  letter-spacing: 1px;
  margin-bottom: 2rem;
}

.about-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 85%;
  margin: 0 auto;
  color: #1B262C;
  padding: 7.5vw 0 5vw 0;
  grid-gap: 4rem;
}

.new-collage {
  width: 100%;
  border-radius: 10px;
  opacity: 0.65;
}

.new-collage:hover {
  opacity: 0.9;
}

.about-box {
  place-self: center;
}

/* || Service Section */
.service-container {
  background: #F6F7FA;
  padding: 4rem 0 0 0;
}

.service-container h1 {
  color: #1B262C;
  padding-top: 2rem;
  margin-bottom: 2rem;
  letter-spacing: 1px;
  text-shadow: 2px 2px #86A8CA;
}

.service-container p {
  color: #1B262C;
}

.service-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 60vw;
  margin: 0 auto;
  text-align: center;
  margin-top: 2rem;
  padding-bottom: 8rem;
}

.service-icon {
  width: 35%;
}

.service-icon:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.service-title {
  letter-spacing: 0;
  color: #1B262C;
  margin-top: 1rem;
  font-size: 1.15rem;
  font-weight: 700;
  text-shadow: 1px 1px #86A8CA;
}

.service-container {
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 75px), 50% 100%, 0 calc(100% - 75px));
}

.deliver-container {
  clip-path: polygon(0 0, 50% 75px, 100% 0, 100% 100%, 0 100%);
  margin-top: -75px;
}

.deliver-container {
  background: linear-gradient(rgba(15, 76, 117, 0.9), rgba(15, 76, 117, 0.9)), url(../images/pressure4.1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10rem 0 15rem 0;
  position: relative;
  overflow: hidden;
}

.deliver-container h1 {
  color: white;
  padding-top: 2rem;
  margin-bottom: 5rem;
  letter-spacing: 1px;
  text-shadow: 2px 2px #1B262C;
}

.deliver-container p {
  letter-spacing: 1px;
}

.deliver-btn {
  background-color: #30C5FF;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  letter-spacing: 1px;
  padding: 0.5rem 3rem;
  text-shadow: 1px 1px #1b262c;
  box-shadow: 1px 1px 5px #1b262c;
  clip-path: polygon(10.2% 0, 100% 0%, 89.8% 100%, 0% 100%);
}

.deliver-btn:hover {
  background-color: white;
}

/* || Footer Section */
.contact-container {
  background-color: #1B262C;
  height: 32.5rem;
  position: relative;
}

/* || Testimonial Section */
[type=radio] {
  display: none;
}

#slider {
  width: 100vw;
  height: 15vw;
  position: absolute;
  top: -9.5rem;
  perspective: 800px;
  transform-style: preserve-3d;
}

#slider label {
  margin: auto;
  width: 50%;
  height: 20%;
  border-radius: 4px;
  position: absolute;
  left: 0;
  right: 0;
  cursor: pointer;
  transition: transform 1s ease;
}

#s1:checked~#slide4, #s2:checked~#slide5,
#s3:checked~#slide1, #s4:checked~#slide2,
#s5:checked~#slide3 {
  transform: translate3d(-34%, 0, -20rem);
}

#s1:checked~#slide5, #s2:checked~#slide1,
#s3:checked~#slide2, #s4:checked~#slide3,
#s5:checked~#slide4 {
  transform: translate3d(-17%, 0, -10rem);
}

#s1:checked~#slide1, #s2:checked~#slide2,
#s3:checked~#slide3, #s4:checked~#slide4,
#s5:checked~#slide5 {
  transform: translate3d(0, 0, 0);
}

#s1:checked~#slide2, #s2:checked~#slide3,
#s3:checked~#slide4, #s4:checked~#slide5,
#s5:checked~#slide1 {
  transform: translate3d(17%, 0, -10rem);
}

#s1:checked~#slide3, #s2:checked~#slide4,
#s3:checked~#slide5, #s4:checked~#slide1,
#s5:checked~#slide2 {
  transform: translate3d(34%, 0, -20rem);
}

.why-box {
  background-color: white;
  position: relative;
  padding: 2rem 1rem;
  color: #1B262C;
  height: 15rem;
  border-radius: 5px;
  box-shadow:
    0px 0px 0.4px -15px rgba(0, 0, 0, 0.069),
    0px 0px 3px -15px rgba(0, 0, 0, 0.028),
    0px 0px 8.7px -15px rgba(0, 0, 0, 0.101),
    0px 0px 20.2px -15px rgba(0, 0, 0, 0.211),
    0px 0px 57px -15px rgba(0, 0, 0, 0.33);
}

.why-box:hover {
  transform: scale(1.01);
}

.why-box h3 {
  color: #1B262C;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 4rem;
  text-align: left;
  margin-bottom: 1rem;
}

.why-box p {
  color: #1B262C;
  letter-spacing: 0.08rem;
  text-align: left;
  padding: 0 2rem;
  font-size: 0.9rem;
}

.why-img {
  width: 5%;
  padding: 0.74rem 2rem;
  float: left;
}

.footer-title {
  text-align: center;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 16rem;
  font-weight: 700;
  letter-spacing: 5px;
}

.contact-grid {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  bottom: 2rem;
  display: grid;
  grid-template-columns: 1fr 0.5fr 0.5fr;
  width: 65vw;
  height: 12rem;
  padding: 1rem;
}

.contact-grid .nav-links {
  font-weight: 500;
}

/* || Footer Left Section */
.left-info {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 25% 25% 25% 25%;
  align-items: center;
  text-align: left;
  padding: 1rem 0;
  padding-left: 5rem;
}

.left-info h2 {
  letter-spacing: 0.3rem;
  margin-left: -3rem;
}

.left-info p {
  margin: 0;
  letter-spacing: 0.05rem;
}

.fa-location-dot {
  float: left;
  padding: 1.05rem 0.775rem;
  margin-left: -3rem;
  margin-right: 1rem;
}

.fa-envelope {
  float: left;
  padding: 0.2785rem 0.65rem;
  margin-left: -3rem;
  margin-right: 1rem;
}

.fa-phone {
  float: left;
  padding: 0.2785rem 0.65rem;
  margin-left: -3rem;
  margin-right: 1rem;
}

.fa-xl {
  padding-right: 0.5rem;
  color: #30C5FF;
}

.fa-xl:hover {
  color: white;
}

/* || Footer Middle Section */
.mid-serv {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 25% 25% 25% 25%;
  align-items: center;
  text-align: left;
  padding: 1rem 0;
}

/* || Footer Right Section */
.right-links {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 25% 25% 25% 25%;
  align-items: center;
  text-align: right;
  padding: 1rem 0;
  padding-right: 5rem;
}

.footer-logo {
  display: none;
}

@media only screen and (max-width : 500px) {

  /* || Top Nav Section */
  .top-nav {
    width: 100%;
    text-align: center;
    height: 3rem;
    z-index: 999;
  }

  .top-nav:after {
    display: none;
  }

  .quote {
    float: right;
    margin: 0 1.05rem 0 0;
  }

  .quote-btn {
    border-radius: 3px;
    clip-path: inherit;
    padding: 0.36rem 1rem 0.36rem;
  }

  .social {
    float: left;
    margin: 0 0 0 1.05rem;
  }

  .email {
    display: none;
  }

  /* USE IF SHOWING MORE NAV OPTIONS */
  /* .email {
    position: absolute;
    left: 0.5rem;
    top: 7rem;
    margin-right: 0;
    z-index: 5;
    width: 75%;
    line-height: 2rem;
    text-align: left;
  }

  .email p {
    margin: 0;
    float: none;
    letter-spacing: 1px;
    font-weight: 600;
  }

  .nav-solid {
    padding: 0.5rem !important;
    float: left !important;
    margin: 0;
  } */
  /* || Middle Nav Section */
  .mid-nav {
    text-align: center;
    /* 10rem if showing more options */
  }

  .mid-nav h1 {
    font-size: 6vw;
    margin: 1rem 0;
    text-align: center;
    width: 100%;
    line-height: 1.5rem;
  }

  .nav-logo {
    display: none;
  }

  .call-us {
    display: none;
  }

  /* USE IF SHOWING MORE NAV OPTIONS */
  /*
  .nav-logo {
    position: absolute;
    clear: none;
    height: 5rem;
    left: 6.25%;
    top: 0;
  }

 .call-us {
    position: absolute;
    width: 75%;
    color: #023859;
    left: 0.5rem;
    top: 6.5rem;
    line-height: 2rem;
    margin-right: 0;
    z-index: 1;
    text-align: left;
  }

  .call-us p {
    margin: 0;
    letter-spacing: 1px;
    font-size: 1rem;
    font-weight: 600;
  }

  .nav-phone {
    padding: 0.5rem !important;
  }
  */
  /* || Bottom Nav Section */
  .bottom-nav {
    float: inherit;
    width: 100%;
    background-color: #023859;
    line-height: 3rem;
    text-align: center;
    overflow: hidden;
  }

  .bottom-nav:after {
    display: none;
  }

  .nav-options {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }

  .nav-links {
    margin: 0;
    font-size: 0.75rem;
    font-weight: 400;
  }

  /* || DROPDOWN HELP */
  .nav-dropdown {
    width: auto;
    display: inline-flex;
    margin: 0;
    line-height: normal;
  }

  .dropdown .dropbtn {
    font-size: 0.75rem;
    font-weight: 400;
    margin: 0;
  }

  .dropbtn:hover {
    cursor: pointer;
    color: #30C5FF;
  }

  .dropdown-content {
    top: 9.5rem;
    width: 100%;
    padding-left: 0;
    clip-path: none;
    flex-direction: column;
    z-index: 999;
  }

  .dropdown-content a {
    line-height: 2.5rem;
    width: 100vw;
  }

  /* || Heading Section */
  .heading-container {
    height: 30rem;
    width: 100vw;
    text-align: center;
    overflow: hidden;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto;
    background-position: top;
  }

  .heading-text {
    width: 95vw;
  }

  .heading1 {
    font-size: 6vw;
    line-height: 2rem;
  }

  .heading-container p {
    font-size: 0.9rem
  }

  .book-btn {
    clip-path: none;
    border-radius: 3px;
    width: 60%;
    display: inline-block;
    padding: 0.5rem 0;
  }

  .media-break {
    display: block;
  }

  .call-btn {
    clip-path: none;
    border-radius: 3px;
    width: 60%;
    display: inline-block;
    padding: 0.5rem 0;
    margin-top: 1rem;
  }

  .heading-container {
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 35px), 50% 100%, 0 calc(100% - 35px));
  }

  .about-container {
    clip-path: polygon(0 0, 50% 35px, 100% 0, 100% 100%, 0 100%);
    margin-top: -35px;
  }

  /* || About Section */
  .about-container {
    position: relative;
    background-color: white;
    width: 100vw;
    padding: 5rem 0 2.5rem 0;
    text-align: center;
  }

  .about-container h1 {
    color: #1B262C;
    margin-top: 0;
    margin-bottom: 1rem;
    letter-spacing: 1px;
    text-shadow: 2px 2px #86A8CA;
    font-size: 6vw;
  }

  .about-container p {
    letter-spacing: 0;
    margin-bottom: 1rem;
    font-size: 0.9rem
  }

  .about-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    width: 95%;
    margin: 0 auto;
    color: #1B262C;
    padding: 0;
    grid-gap: 1rem;
  }

  .new-collage {
    width: 95%;
    border-radius: 10px;
    opacity: 0.65;
  }

  .new-collage:hover {
    opacity: 0.9;
  }

  .about-box {
    grid-row-start: 1;
    place-self: center;
  }

  /* || Service Section */
  .service-container {
    padding: 2rem 0 0 0;
  }

  .service-container h1 {
    padding-top: 1rem;
    margin-bottom: 2rem;
    font-size: 6vw;
  }

  .service-container p {
    font-size: 0.9rem
  }

  .service-grid {
    width: 100vw;
    margin: 0;
    text-align: center;
    margin-top: 2rem;
    padding-bottom: 5rem;
  }

  .service-icon {
    width: 50%;
  }

  .service-title {
    font-size: 4vw;
  }

  .service-container {
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 35px), 50% 100%, 0 calc(100% - 35px));
  }

  .deliver-container {
    clip-path: polygon(0 0, 50% 35px, 100% 0, 100% 100%, 0 100%);
    margin-top: -35px;
  }

  .deliver-container {
    padding: 5rem 0;
    background-size: auto;
  }

  .deliver-container h1 {
    font-size: 5vw;
    margin-bottom: 2rem;
  }

  .desktop-break {
    display: none;
  }

  .deliver-btn {
    border-radius: 3px;
    clip-path: none;
  }

  /* || Footer Section */
  .contact-container {
    background-color: #1B262C;
    height: 45rem;
    position: relative;
  }

  #slider {
    display: none;
  }

  .footer-title {
    top: 2.5rem;
    font-size: 6vw;
    letter-spacing: 2px;
  }

  .contact-grid {
    top: 6rem;
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    width: 95vw;
    height: 25rem;
    padding: 0;
  }

  .contact-grid .nav-links {
    font-weight: 500;
  }

  /* || Footer Left Section */
  .left-info {
    align-items: center;
    text-align: center;
    padding: 0;
    padding-left: 0;
    grid-column: 1 / span 2;
    grid-row: 2;
    margin-top: 2rem;
  }

  .left-info p {
    margin: 0;
    letter-spacing: 0.05rem;
    font-size: 0.9rem;
  }

  .fa-xl {
    display: none;
  }

  /* || Footer Middle Section */
  .mid-serv {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 25% 25% 25% 25%;
    align-items: center;
    text-align: center;
    padding: 0;
    font-size: 0.9rem;
  }

  /* || Footer Right Section */
  .right-links {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 25% 25% 25% 25%;
    align-items: center;
    text-align: center;
    padding: 0;
    padding-right: 0;
    font-size: 0.9rem;
  }

  .footer-logo {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: 3rem;
    width: 30vw;
  }
}
